*{border: 0;
	margin: 0;
	padding: 0;}
#Cuerpo{
	height: 1390px;
	width: 1180px;
	margin-right: auto;
	margin-left: auto;
}
header, #Top, #Navegacion, #Juegos{
	width: 1180px;
	height: 50px;	
}
#Top{
	margin-top: 30px;
	height: 350px;
}
#Navegacion{
	margin-top: 30px;
	height: 100px;	
}
#Navegacion #Menu{
	font-weight: bold;
	font-size: 15px;
	height: 50px;
	text-align: center;
}	
#Juegos{
	height: 800px;
}
footer{
	margin-top: 5px;
	height: 50px;
	text-align: center;
}

#Juegos #GtaV, #TheCrew, #Bt4, #Bt1{
	margin-top: 30px;
	display: inline-block;
}
#Juegos #GtaV{
	margin-left: 100px;
}
#Juegos #TheCrew{
	
}
#Juegos #Bt4, #Bt1{
	margin-top: 0;
	margin-bottom: 30px;
}
#Juegos #Bt4{
	margin-left: 100px;
}