<script type="text/javascript">
	switch (album) {
		case 0:
			<img src="images/galeria.png"  width="150px" height="150px">
			break;
		case 1:
			<div id="expo">
				<img src="images/galeria-multimedia/gtav/albumes/expo.jpg"  width="150px" height="150px" onclick="document.getElementById('ver').src='images/galeria-multimedia/gtav/albumes/expo.jpg'">
				<img src="images/galeria-multimedia/gtav/albumes/expo2.jpg" width="150px" height="150px" onclick="document.getElementById('ver').src='images/galeria-multimedia/gtav/albumes/expo2.jpg'">
				break;
			</div>
		case 2:
			<div id="expo2">
				<img src="images/galeria-multimedia/gtav/albumes/expo2.jpg" width="150px" height="150px" onclick="document.getElementById('ver').src='images/galeria-multimedia/gtav/albumes/expo2.jpg'">
				<img src="images/galeria-multimedia/gtav/albumes/expo.jpg"  width="150px" height="150px" onclick="document.getElementById('ver').src='images/galeria-multimedia/gtav/albumes/expo.jpg'">
			</div>
			break;
					}
</script>