<div id="fotos" class="col-xs-12">
	<b style="font-size: large;">Fotos</b>
	<br>
	<div id="albumes" class="col-xs-12">
		{% include ('includes/albumesgtav.html.twig') %}
	</div>
	<div id="visor" class="col-xs-8">
		<center><img id="ver" src="images/galeria.png" width="720" height="480"></center>
	</div>
	<div id="fotos-albumes" class="col-xs-4">
		{% include ('includes/fotosgtav.html.twig') %}
	</div>
</div>
<div id="videos" class="col-xs-12">
	<b style="font-size: large;">Videos</b>
	<br>
	<div id="reproductor" class="col-xs-8">
		<video src="" type="video/mp4" controls autoplay >HTML5 Video is required for this example</video> 
	</div>
	<div id="miniaturas" class="col-xs-4">
		<img src="http://i3.ytimg.com/vi/9WbCfHutDSE/default.jpg" width="150px" height="100px">
	</div>
</div>