<!doctype html>
<html lang="es">
	<head>
		<title>Battlefield 1</title>
		{% include ('includes/head.html.twig') %}
	</head>
	 <div class="container">
	 	<body>
			<header>
				<section class="main row">
					<section id="Top" class="col-xs-12">
						<h1>
							<img src="images/GtavLogo.png" class="img-responsive" >
							<div class="menuR">{% include ('includes/menu_session.html.twig') %}</div>
						</h1>	
					</section>
					<section id="Menu" class="col-xs-12">
						<a href="./?action=home"> Inicio </a> /
						<a href=""> ¿Quiénes somos? </a> /
						<a href="./?action=qs"> Lista de eventos </a> /
						<a href="https://www.youtube.com" target="_blank"> YouTube </a> /
						<a href="./?action=razer"> RazerComms </a> 
					</section>
			</header>
						<br>
						<img src="images\Portada.jpg" class="img-responsive">
						<br>
						<div class="col-xs-12 col-sm- col-md- col-lg-6">
							BAJO CONSTRUCCIÓN
						</div >
						<div class="col-xs-12 col-sm- col-md- col-lg-6">
							text
						</div >
						<div class="col-xs-12 col-sm- col-md- col-lg-6">
							text
						</div >
						<div class="col-xs-12 col-sm- col-md- col-lg-6">
							text
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						{% include ('includes/endbody.html.twig') %}
				</section>
		</body>
		<footer class="col-xs-12">
			{% include ('includes/footer.html.twig') %} 
		</footer>
	</div>
</html>
