<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<link rel="stylesheet" href="css/Style.css">
	<link rel="stylesheet" href="css/Colours.css">
	<link rel="stylesheet" href="css/Menu.css">
	<script type="text/javascript">
		document.oncontextmenu = function(){return false;}
    </script>
</head>
<body>
	
	<section id="Cuerpo">
		<header>
			
		</header>
		<section id="Top">
			<img src="images/Portada.jpg" width="1180" height="350">		
		</section>
		<section id="Navegacion">
			<article id="Publicidad2">
				
			</article>
			<article id="Menu">	
			<div class="Estilo">
				<br>
				<a href="./?action=home"> Inicio </a> / <a href="./?action=qs"> ¿Quiénes somos? </a> / <a href="./?action=listaeventos"> Lista de eventos </a> / <a href="https://www.youtube.com"> YouTube </a> / <a href="./?action=razer"> RazerComms </a> / <a href="./?action=login"> Login </a>
				</div>
			</article>
		</section>
		<section id="Juegos">
		</section>
		<footer>
			<br>
			Diseñada por <a href="https://www.facebook.com/Yorch.Computacion">Yorch Computación</a>	
		</footer>
	</section><!--contenedor-->
</body>
</html>
