<!doctype html>
<html lang="es">
	<head>
		<title>Galería multimedia</title>
		{% include ('includes/head.html.twig') %}
		<script type="text/javascript">
			var album=1;
		</script>
	</head>
	 <div class="container">
	 	<body>
			<header>
				<section class="main row">
					<section id="Top" class="col-xs-12">
						<h1>
							<img src="images/GtavLogo.png" class="img-responsive" >
							<div class="menuR"><a href="index2.php">Login</a></div>
						</h1>	
					</section>
					<section id="Menu" class="col-xs-12">
						<a href="./?action=home"> Inicio </a> /
						<a href=""> Eventos formales </a> /
						<a href="./?action=qs"> Miembros y estadísticas</a> /
						<a href="" target="_blank"> Crew </a> /
						<a href="./?action=razer"> Notas e inscripciones </a> /
						<a href=".?action=gtav">Volver</a>
					</section>
			</header>
				<b style="font-size: large;">Biblioteca Multimedia</b>
				{% include ('includes/galeriagtav.html.twig') %}
				{% include ('includes/endbody.html.twig') %}
				</section>
	</body>
		<footer class="col-xs-12">
			{% include ('includes/footer.html.twig') %} 
		</footer>
	</div>
</html>