<!doctype html>
<html lang="es">
	<head>
		<title>Gta V</title>
		{% include ('includes/head.html.twig') %}
	</head>
	 <div class="container">
	 	<body>
			<header>
				<section class="main row">
					<section id="Top" class="col-xs-12">
						<h1>
							<img src="images/GtavLogo.png" class="img-responsive" >
							<div class="menuR"><a href="index2.php">Login</a></div>
						</h1>	
					</section>
					<section id="Menu" class="col-xs-12">
						<a href="./?action=home"> Inicio </a> /
						<a href=""> Eventos formales </a> /
						<a href="./?action=qs"> Miembros y estadísticas</a> /
						<a href="" target="_blank"> Crew </a> /
						<a href="./?action=razer"> Notas e inscripciones </a> 
					</section>
			</header>
						<br>
						<img src="images\Portada.jpg" class="img-responsive">
						<br>
						<div id="Panel de actividades" class="col-xs-12">
							<div class="col-xs-8 col-md-10">
							</div>
							<div id="open_close" class="col-xs-4 col-md-2">
								Panel de actividades activas
							</div>
						</div >
						<div id="Galeria" class="col-xs-12 col-sm- col-md- col-lg-6">
							<h2>
								Galería multimedia <a href="./?action=galeriagtav">(ver completa)</a>
							</h2>
							<h3>
								<div id="fuente"><b>Fotos</b></div>
									<ul id="carousel" class="elastislide-list">
									<li><a href="#"><img src="images/small/1.jpg" alt="image01" /></a></li>
									<li><a href="#"><img src="images/small/2.jpg" alt="image02" /></a></li>
									<li><a href="#"><img src="images/small/3.jpg" alt="image03" /></a></li>
									<li><a href="#"><img src="images/small/4.jpg" alt="image04" /></a></li>
									<li><a href="#"><img src="images/small/5.jpg" alt="image05" /></a></li>
									<li><a href="#"><img src="images/small/6.jpg" alt="image06" /></a></li>
									<li><a href="#"><img src="images/small/7.jpg" alt="image07" /></a></li>
									<li><a href="#"><img src="images/small/8.jpg" alt="image08" /></a></li>
									<li><a href="#"><img src="images/small/9.jpg" alt="image09" /></a></li>
									<li><a href="#"><img src="images/small/10.jpg" alt="image10" /></a></li>
									<li><a href="#"><img src="images/small/11.jpg" alt="image11" /></a></li>
									<li><a href="#"><img src="images/small/12.jpg" alt="image12" /></a></li>
									<li><a href="#"><img src="images/small/13.jpg" alt="image13" /></a></li>
									<li><a href="#"><img src="images/small/14.jpg" alt="image14" /></a></li>
									<li><a href="#"><img src="images/small/15.jpg" alt="image15" /></a></li>
									<li><a href="#"><img src="images/small/16.jpg" alt="image16" /></a></li>
									<li><a href="#"><img src="images/small/17.jpg" alt="image17" /></a></li>
									<li><a href="#"><img src="images/small/18.jpg" alt="image18" /></a></li>
									<li><a href="#"><img src="images/small/19.jpg" alt="image19" /></a></li>
									<li><a href="#"><img src="images/small/20.jpg" alt="image20" /></a></li>
								</ul>
							</h3>
							<h3>
							<div id="fuente"><b>Videos</b></div>
								<iframe class="col-xs-4" width="720" height="200" src="https://www.youtube.com/embed/Cwkej79U3ek" frameborder="0" allowfullscreen></iframe>
								<iframe class="col-xs-4" width="720" height="200" src="https://www.youtube.com/watch?v=7qFF2v8VsaA" frameborder="0" allowfullscreen></iframe>
								<iframe class="col-xs-4" width="720" height="200" src="https://www.youtube.com/embed/Cwkej79U3ek" frameborder="0" allowfullscreen></iframe>
							</h3>
						</div >
						<div id="Novedades" class="col-xs-12 col-sm- col-md- col-lg-6">
						<h4>
							Novedades
							<h5>
								<img src="images/Proximamente.jpg" class="col-xs-4">
								<img src="images/Proximamente.jpg" class="col-xs-4">
								<img src="images/Proximamente.jpg" class="col-xs-4">
							</h5>
						</h4>
						</div >
						<div id="ProximasExposFormales" class="col-xs-12">
							Proximos eventos formales
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						<div class="col-xs-3 col-sm- col-md-3 col-lg-">
							Publicidad
						</div >
						{% include ('includes/endbody.html.twig') %}
				</section>
		</body>
		<footer class="col-xs-12">
			{% include ('includes/footer.html.twig') %} 
		</footer>
	</div>
</html>
