<!doctype html>
<html lang="es">
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0; maxium-scale=1.0, minium-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script type="text/javascript">
			document.oncontextmenu = function(){return false;}
    	</script>
	</head>
	 <div class="container">
	 	<body>
			<header>
				<section class="main row">
					<section id="Top" class="col-xs-12">
						<img src="images/Portada.jpg" class="img-responsive">
					</section>
					<section id="Menu" class="col-xs-12">
						<center><a href=""> ¿Quiénes somos? </a> / <a href="./?action=qs"> Lista de eventos </a> / <a href="https://www.youtube.com" target="_blank"> YouTube </a> / <a href="./?action=razer"> RazerComms </a> / {% include ('menu_session.php.twig') %} </center>
					</section>
			</header>
					<section id="Juegos">
						<article id="Bt1" class="col-xs-12 col-sm- col-md- col-lg-6">
							<a href="./?action=bt1"> <img src="images/Battlefield1.jpg" class="img-responsive"> </a>
						</article>
						<article id="Bt4" class="col-xs-12 col-sm- col-md- col-lg-6">
							<a href="./?action=bt4.html"> <img src="images/Battlefield4.jpg" class="img-responsive"> </a>
						</article>			
						<article id="GtaV" class="col-xs-12 col-sm- col-md- col-lg-6">
							<a href="./?action=gtav.html"> <img src="images/GtaV.jpg" class="img-responsive"> </a>
						</article>
						<article id="Proximamente" class="col-xs- col-sm- col-md- col-lg-6">
							<a href=""> <img src="images/Proximamente.jpg" class="img-responsive"> </a>
						</article>
				</section>
			<script scr="js/jQuery.js"></script>
			<script scr="js/bootstrap.min.js"></script>
		</body>
		<footer class="col-xs-12">
			{% include ('footer.php.twig') %} 
		</footer>
	</div>
</html>
