<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet" type="text/css">
    <title>
        {% block title %}
        {% endblock %}
        {{ title }}
    </title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <ul class="nav">
                <li style="background-color: #2a7cba"><a href="./?action=home">HOME</a></li>
                <li><a href="./?action=nosotros">About</a></li>
                <li><a href="./?action=contacto">Contact</a></li>
                <li style="float: right;">
                    <a href="">Menu</a>
                    <ul style="right: 0;">
                        <li>
                            <a href="">Actividades</a>
                            <ul>
                                <li><a href="./?action=listado_de_actividades">Listado</a></li>
                                <li><a href="./?action=agregar_actividad">Agregar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./?action=profesores">Profesores</a>
                            <ul>
                                <li><a href="./?action=listado_de_profesores">Listado</a></li>
                                <li><a href="./?action=agregar_profesor">Agregar</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./?action=pagos">Pagos</a>
                            <ul>
                                <li><a href="./?action=listado_de_pagos">Listado</a></li>
                                <li><a href="./?action=agregar_pago">Agregar</a></li>
                            </ul>
                        </li>
                        <li><a href="./?action=ganancias">Ganancias</a></li>
                    </ul>
                </li>
                <li style="float: right; background-color: #2a7cba"><a href="#">Sign up</a></li>
                <li style="float: right"><a href="#">Sign in</a></li>
            </ul>
        </div>
        <div id="content">
            <div class="main">
                {% block main %}
                {% endblock %}
            </div>
            <div class="info">
                {% block info %}
                    <p>info</p>
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            FOOTER
        </div>
    </div>
</body>
</html>