	<?php	
		require_once 'fbConfig.php';
		require_once 'User.php';
			if (unset('oauth_uid') = NULL {
    			include 'app/login.php';
			} else echo <a href=>Panel de control</a> / <a href= >Desloguearse</a>


